<app-navbar></app-navbar>
<header>
    <h1>Welcome to Our Phonebook</h1>
    <p>A minimalistic phonebook web application</p>
</header>

<main>
    <section class="project-description">
        <h2>About the Project</h2>
        <p>This project's frontend was written in <b>Angular</b>, featuring a minimalistic design and a powerful searchbar for searching by name or phone number. It serves as a phonebook web application and <b>supports CRUD</b> operations such as creating contacts and user accounts, login functionality, and modifying or deleting contacts. The backend of the page was developed using <b>Java</b>, <b>Spring Boot</b>, and <b>Spring Security</b> to ensure a secure API.</p>
    </section>
</main>

<footer>
    <p>Contact: nagyjozsef2001@gmail.com</p>
    <p>&copy; 2023 Nagy József. All rights reserved.</p>
</footer>

