/* resetting some default settings*/
body, h2, p {
    margin: 0;
    padding: 0;
}

.contact-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /*shadow effect on the cards*/
    background-color: #fff;
    text-align: center;
    margin: 20px auto;
}


.contact-name {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact-email {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.contact-phone {
    font-size: 16px;
    color: #555;
}
